<script setup lang="ts">
useHead({ title: 'Download' })
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col class="my-2" cols="12" md="10" lg="8">
        <h1 class="title text-brown-darken-4">Download</h1>
        <p class="subtitle text-brown-darken-4">
          This project is semi-private, and there are no download links
          available here. Please obtain an invitation from someone who is
          already in the server or search for it on the internet. It should be
          easy to find.
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
