<script setup lang="ts">
useHead({
  titleTemplate: ''
})
</script>

<template>
  <div>
    <v-parallax
      dark
      src="/rob-mulally-oacHEtIlXsA-unsplash-mod-raw.png"
      height="750"
    >
      <v-overlay
        :model-value="true"
        persistent
        contained
        disabled
        width="100%"
        height="100%"
        class="align-center justify-center"
      >
        <v-row fluid class="fill-height" justify="center">
          <v-col cols="10">
            <v-row class="fill-height" align-content="center" justify="center">
              <v-col cols="12" md="6" xl="8">
                <div class="text-left mb-4">
                  <v-img
                    src="/sparkle_fantasia_bordered.png"
                    :aspect-ratio="3 / 1"
                    max-width="500px"
                    max-height="150px"
                  />
                </div>
                <h2 class="text-white font-weight-light">
                  Fanmade server for discontinued kirakira game
                </h2>
                <v-btn to="/about" rounded outlined large dark class="mt-5">
                  See More
                </v-btn>
              </v-col>
              <v-col cols="12" md="6" xl="4" class="hidden-sm-and-down" />
            </v-row>
          </v-col>
        </v-row>
      </v-overlay>
    </v-parallax>
    <v-container>
      <v-row justify="center">
        <v-col cols="12" sm="12" md="8" lg="8" xl="4">
          <v-responsive height="450" aspect-ratio="16/9">
            <iframe
              height="100%"
              width="100%"
              src="https://www.youtube.com/embed/JnVzP9Cm81o"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            />
          </v-responsive>
        </v-col>
        <v-col cols="12" sm="12" md="4" lg="4" xl="4">
          <v-responsive height="225" aspect-ratio="16/9">
            <iframe
              height="100%"
              width="100%"
              src="https://embed.nicovideo.jp/watch/sm32419084?persistence=1&amp;oldScript=1&amp;allowProgrammaticFullScreen=1"
            />
          </v-responsive>
          <v-responsive class="mt-2" height="225" aspect-ratio="16/9">
            <iframe
              height="100%"
              width="100%"
              src="https://embed.nicovideo.jp/watch/sm38720797?persistence=1&amp;oldScript=1&amp;allowProgrammaticFullScreen=1"
            />
          </v-responsive>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="8">
          <v-container class="text-brown-darken-4 font-weight-bold">
            <v-row justify="center">
              <v-col cols="12" md="4" lg="2">
                <p>Genre:</p>
              </v-col>
              <v-col cols="12" md="8" lg="6">
                <p>MangaTime Kirara AllStar RPG</p>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col cols="12" md="4" lg="2">
                <p>Price:</p>
              </v-col>
              <v-col cols="12" md="8" lg="6">
                <p>Free to play</p>
                <p>(no in-app purchases)</p>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col cols="12" md="4" lg="2">
                <p>Platform:</p>
              </v-col>
              <v-col cols="12" md="8" lg="6">
                <p>Android / iOS</p>
                <p class="mt-2">[Required version for Android]</p>
                <p>6.0.1 or later</p>
                <p>[Required version for iOS]</p>
                <p>10.0.0 or later</p>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col class="text-center" cols="12" sm="12" md="4">
          <v-btn
            height="100"
            variant="text"
            href="https://apps.apple.com/JP/app/id1226256105?mt=8"
          >
            <v-img
              width="200"
              cover
              aspect-ratio="2.7"
              alt="Download on the App Store"
              src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/ja-jp?size=250x83&amp;releaseDate=1553817600"
            />
          </v-btn>
        </v-col>
        <v-col class="text-center" cols="12" sm="12" md="4">
          <v-btn
            height="100"
            variant="text"
            href="https://play.google.com/store/apps/details?id=com.aniplex.kirarafantasia"
          >
            <v-img
              width="200"
              cover
              :aspect-ratio="5 / 2"
              alt="Google Play で手に入れよう"
              src="https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png"
            />
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
