<script setup lang="ts">
useHead({ title: 'Status' })

const redirectCount = ref<number>(10)
const redirectTarget = 'https://stats.uptimerobot.com/XP5kycBB1V'

const intervalRunner = setInterval(() => {
  if (redirectCount.value === 0) {
    clearInterval(intervalRunner)
    location.href = redirectTarget
  } else {
    redirectCount.value--
  }
}, 1000)

onBeforeRouteLeave(() => {
  clearInterval(intervalRunner)
})
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col class="my-2" cols="12" md="10" lg="8">
        <h1 class="title text-brown-darken-4">Status</h1>
        <p class="subtitle text-brown-darken-4">
          The status page is provided at
          <a class="text-brown-darken-4" href="https://UpTimeRobot.com"
            >UpTimeRobot.com</a
          >
        </p>

        <p class="mt-4 text-brown-darken-4">
          Please wait for {{ redirectCount }} seconds before redirect.
        </p>
        <p class="mt-4 text-brown-darken-4">
          If you are not redirected to the status page, please click the link
          below.
        </p>
        <a class="text-brown-darken-4" :href="redirectTarget">{{
          redirectTarget
        }}</a>
      </v-col>
    </v-row>
  </v-container>
</template>
