<script lang="ts" setup>
import { useDisplay } from 'vuetify/lib/framework.mjs'
import { mdiAccount } from '@mdi/js'

const nav = useNav()
const { setOpenTarget, toggleMenu, isOpenLeftMenu } = useSideMenu()
const { mobile } = useDisplay()

const onClickLeftMenuBtn = () => {
  setOpenTarget('left')
  toggleMenu()
  console.log('left toggle', isOpenLeftMenu)
}

const onClickRightMenuBtn = () => {
  setOpenTarget('right')
  toggleMenu()
}
</script>

<template>
  <v-app-bar color="white">
    <template v-if="mobile">
      <v-app-bar-nav-icon
        v-if="mobile"
        color="brown"
        @click="onClickLeftMenuBtn"
      />
      <v-spacer />
      <v-app-bar-title>
        <v-img
          src="/sparkle_fantasia_bordered.png"
          :aspect-ratio="3 / 1"
          max-width="200px"
          max-height="50px"
        />
      </v-app-bar-title>
      <v-spacer />
      <v-btn :icon="mdiAccount" color="brown" @click="onClickRightMenuBtn" />
    </template>
    <template v-if="!mobile">
      <v-app-bar-title>
        <v-img
          src="/sparkle_fantasia_bordered.png"
          :aspect-ratio="3 / 1"
          max-width="200px"
          max-height="50px"
        />
      </v-app-bar-title>
      <v-btn
        v-for="(btn, i) in nav"
        :key="i"
        :to="btn.to"
        variant="text"
        color="brown"
        class="font-weight-bold hidden-sm-and-down"
      >
        {{ $t(btn.text) }}
      </v-btn>
      <v-spacer />
      <v-btn
        color="brown"
        class="hidden-sm-and-down font-weight-bold"
        aria-label="menuButton"
        aria-haspopup="true"
        aria-expanded="false"
        @click="onClickRightMenuBtn"
      >
        My account
      </v-btn>
    </template>
  </v-app-bar>
</template>
