<template>
  <v-app>
    <the-header />
    <the-drawer-nav />
    <the-drawer-user />
    <v-main class="container">
      <nuxt-page />
    </v-main>
    <the-footer />
    <back-to-top />
  </v-app>
</template>

<style scoped>
.container {
  min-height: 100vh;
}
</style>
